{% extends 'recipe/base.html' %}

{% block content %}
	{% for recipe in recipes %}
	    {{ recipe.name }}<br/>
	{% endfor %}

	<div class="pagination">
	    <span class="step-links">
	        {% if recipes.has_previous %}
	            <a href="?page={{ recipes.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
	        </span>

	        {% if recipes.has_next %}
	            <a href="?page={{ recipes.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
{% endblock %}