{% extends 'base.html' %}
{% block content_title %} Featured Recipes {% endblock content_title %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
{% endif %}
<center>
<div class="slider">
<ul class="slides">

          	 	 <li class="slide">

                    <div class="item">

                        <a href="{% url 'pages:recipe_detail' pk='21'%}">
                        <img src="http://images.meredith.com/bhg/images/recipe/p_R109805.jpg " width="226" height="225" alt="sliderimg" class="wow flipInX"

                           data-wow-delay=".8s"> 
        <h3>Butterscotch-Chip Cookie Mix</h3></a>

                      </div> <!-- end of item-->

                      

                   <div class="item2">
                       <a href="{% url 'pages:recipe_detail' pk='50'%}">
                          <img src="http://images.meredith.com/bhg/images/recipe/p_R135350.jpg" width="226" height="225" alt="sliderimg" class="wow flipInX"

                           data-wow-delay=".8s">

                          <h3>Texas Sheet Cake</h3></a>

                      </div> <!-- end of item-->

                      

                   <div class="item3">
                       <a href="{% url 'pages:recipe_detail' pk='78'%}">
  
                          <img src="http://images.meredith.com/bhg/images/recipe/p_RU206955.jpg" width="226" height="225" alt="sliderimg" class="wow flipInX"

                           data-wow-delay=".8s"> 

                          <h3>Cheesy Chicken Enchiladas</h3></a>

                      </div> <!-- end of item-->

                  </li>

                   <li class="slide">

                    <div class="item">
                       <a href="{% url 'pages:recipe_detail' pk='46'%}">
  
                          <img src="http://images.meredith.com/bhg/images/recipe/p_R133468.jpg" width="226" height="225" alt="sliderimg" > 

                          <h3>Devilish Cocoa Sandwiches </h3>

                    </div> <!-- end of item--></a>

                      

                   <div class="item2">
                       <a href="{% url 'pages:recipe_detail' pk='53'%}">
  
                          <img src="http://images.meredith.com/bhg/images/recipe/p_FC1870.jpg" width="226" height="225" alt="sliderimg"> 

                          <h3>Pecan Chocolate Chip Cookies </h3></a>

                      </div> <!-- end of item-->

                      

                   <div class="item3">
                       <a href="{% url 'pages:recipe_detail' pk='48'%}">
  
                          <img src="http://images.meredith.com/bhg/images/recipe/p_R109839.jpg" width="226" height="225" alt="sliderimg"> 

                          <h3>Vanilla Thumbprints</h3></a>

                      </div> <!-- end of item-->
                  </li>
        </ul>
</div>
</center>
{% endblock content %}
