{% extends 'base.html' %}
{% block content_title %}CHECKOUT{% endblock content_title %}
{% block content %}
<p style="color:white;">{{recipe.name}}</p>
<center>
<table>

            <tr>
                <p style="color:white">{{ total }} php</p>
            </tr>

{% for product in products %}
             <tr>
        <td style="color:white;"><span id='total'>{{product.price}}php</span>&nbsp;{{ product.name }}</td>
                     {% endfor %}
             </tr>
            <tr>
                <td>
                <form class="inline-form" action="{% url 'account:index'  %}" method="post">
                        {% csrf_token %}

                        <input type="text" id="a" name="a" value="{{total}}"
                        style="display:none">
                        <input type="text" id="q" name="q" class="email wow zoomIn animated animated"
                placeholder="shipping address"
                style="visibility:visible;animation-name:zoomIn;color:rgb(0, 0, 0);" required>
            <button class="booknow wow fadeInUp animated animated"
                style="visibility: visible; animation-name: fadeInUp; width: 120%; font-size:90%;" 
                type="submit"> CHECKOUT</button>
                </td>

                </form>
            </tr>
    </table> </center>
{% endblock content %}
