{% extends 'base.html' %}

{% block content %}
<ul class="slides">
	{% for recipe in recipes %}
    <div class="item3">
    <li class="slide" style="position:relative; left:-330px;">
        <img src="{{recipe.img_url}}" width="226" height="225" alt="sliderimg" class="wowflipInX">
       
        <a href="{% url 'pages:recipe_detail' pk=recipe.pk %}"> <h4>{{ recipe.name}}{{loop.counter}}</h4></a>
    </li>
    </div>
	{% endfor %}
</ul>
{% endblock content %}
{% block content_title %}
	<div class="pagination">
	    <span class="step-links">
	        {% if recipes.has_previous %}
	            <a href="?page={{ recipes.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
	        </span>

	        {% if recipes.has_next %}
	            <a href="?page={{ recipes.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
{% endblock content_title  %}
