{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>

        {% block head_meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        {% endblock head_meta %}
     <title>{% block title %}TAP AND SHOP{% endblock title %}</title>

    {% block head_fonts %}
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css"
                               href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
                               href="//fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock head_fonts %}

    {% block head_styles %}
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css"
                               href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/animate.css'  %}">
    {% endblock head_styles %}
    {% block scripts %}
    <script src="{% static 'js/jquery.js' %}"></script> 

    <script src="{% static 'js/jquery.glide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/MyJQ.js' %}"></script>

    <script src="{% static 'js/jquery.localScroll.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/jquery.scrollTo.min.js' %}" type="text/javascript"></script> 

    <script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function() {

       $('#navigations').localScroll({duration:800});

    });

    </script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>

new WOW().init();
    </script>
    {% endblock scripts %}
</head>

<body>
    {% block header %}
<div class="headerwrapper">

    <div id="header" class="container">

        <div class="logo"> <a href="{% url 'home:index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="165" height="74"></a> </div> <!--end of Logo-->

        <nav>

            <ul id="navigations">


                <li><a href="{% url 'pages:recipe_list' %}">RECIPES</a></li>

                <li><a href="{% url 'home:search' %}">SEARCH</a></li>

                <li><a href="#contactus">CONTACT</a></li>
                <li><a href="{% url 'home:signup' %}">SIGN UP</a></li>
                <li><a href="{% url 'home:signin' %}">LOG IN</a></li>

            </ul>

        </nav>
        <div>
            <h5 class="wow fadeInDown" data-wow-delay="0.8s">
                {% block user %}
                {% if user.is_authenticated %}
                Welcome {{ user.username }} ! (<a href="{% url 'logout' %}">Log out</a>)</h1><br>
            {% endif %}
                {% endblock user %}
            </h5>
        </div>

      </div> <!--end of header-->

</div> <!-- end of headerwrapper-->
    {% endblock header %}
    {% block slider %}
    <div class="sliderwrapper">

      <div id="slider" class="container">

           <div class="slider">
                        <ul class="slides">

                                <li class="slide">

                        <h5 class="wow fadeInDown" data-wow-delay="0.8s">What is Tap & Shop </h5>

                      	<p class="wow fadeInUp" data-wow-delay="0.8s">
                        Tap and Shop is the website where you can browse and buy recipes from all around the web.
                        Then we buy all of the ingredients of the recipies and feliver right in your
                        doorstep. We provide you with the informations such as ingredients,
                        servings, prep time and even directions without the need for researching.
                        Easy Efficient and Hassle Free. GO Tap and Shop Now
                        </p>

                        <img src="{% static 'images/logo.png' %}" width="317" height="256" class="wow fadeInRight" 

                      data-wow-delay="0.8s" alt="slide1img"> 

                      </li>

                                  <li class="slide">

                      	<h5 class="wow fadeInDown" data-wow-delay="0.8s"> Recipe Search Engine </h5>

                    <p class="wow fadeInUp" data-wow-delay="0.8s">
                    Introducing the Recipe Search Engine. Our database holds thousands of recipes
                    around the web, updated every day! Browse from over 20,000 recipes and 30,000
                    products!
                    </p>
                    <img src="{% static 'images/scrapy.png' %}" width="317" height="256" class="wow fadeInRight" 

                      data-wow-delay="0.8s" alt="slideimg2"> 

                      </li>

                             <li class="slide">

                      	<h5 class="wow fadeInDown" data-wow-delay="0.8s">Browse Order Recieve BOR </h5>

                      	<p class="wow fadeInUp" data-wow-delay="0.8s">Recipe Management System
                        gives you the feel of shopping at your own pc or phone. Browse recipes,
                        order them, and recieve at your doorstep. No to go around the supermarket
                        when you can buy it here. Less Hassle And feel the convinience of BOR Browse
                        Order Recieve</p>

                        <img src="{% static 'images/buy.png' %}" width="317" height="256" class="wow fadeInRight" 

                      data-wow-delay="0.8s" alt="slideimg2"> 

                      </li>

              </ul>

            </div>

      </div> <!-- End of Slider-->

</div> <!-- end of sliderwrapper-->
    {% endblock slider %}


<div class="bestdisheswrapper">

    <div id="bestdishes" class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.3s">
       {% block content_title %}
       {% endblock content_title %}
      </h2>

      <div class="slidr">
    {% block content %}
    {% endblock content %}
</div> <!-- end of slider-->

    </div> <!-- end of besth dishes-->

</div> <!-- end of bestdishes wrapper-->


    {% block footer %}
    <div class="footerwrapper">

    <footer class="container">

    	<div class="customerreview">

       		 <h2>Customer Reviews</h2>

          <div class="review">

              <p><strong>&#8220; </strong>The website is the first of its kind. Super Duper Utlra
              mega Amazing. The style and responsiveness make me feel like browsing in a magazaine
              <strong>&#8221;</strong></p>

             

             <h4>- JOHN ALVES</h4>

            

            

        	</div> <!-- end of review-->

             

              <div class="clearfix"></div>

              <div class="line"></div>

              

          <div class="review">

              <p><strong>&#8220; </strong>The delivery time is so fast like i order at 11:30am and
              my order arrives at 7pm in the evening!
            <strong>&#8221;</strong></p>

             

             <h4>- CATHREINE JOHNES</h4>

            

            

        	</div> <!-- end of review-->

             

              

              

            

            

        </div>

        <div class="socialize">

        

      <h2>Socialize</h2>

        <div class="socialimgs">

            <a href="#"><img src="{% static 'images/fbhover.png' %}" width="68" height="68" class="acebook"

           alt="fb"></a>

            <a href="#"><img src="{% static 'images/twitterhover.png' %}" width="68" height="68" class="twitte"

        alt="twitter"></a>

            <a href="#"><img src="{% static 'images/youtubehover.png' %}" width="68" height="69" class="youtub" alt="youtube"></a>

            <a href="#"><img src="{% static 'images/g+hover.png' %}" width="68" height="68" class="googe" alt="g+"></a>

            <a href="#"><img src="{% static 'images/message.png' %}" width="68" height="68" class="messae" alt="message"></a>

      </div> <!--end of social imgs-->

      

       </div>

      

      

 <div class="sendfeedback" id="contactus">

  	  <h2>Send Feedback</h2>

            <form>

            <h6>Your Name:</h6>

            <input type="text" class="yourname" >

             <h6>Mobile Number :</h6>

            <input type="text" class="mobilenumber">

             <h6>Message :</h6>

            <textarea></textarea>

            

            <button>SUBMIT </button>

            </form>

</div> <!-- end of feedback-->
    </footer> <!-- end of footer-->

</div> <!-- end of footer-->
    {% endblock footer %}
    {% block bodyscripts %}
     <script type="text/javascript">
    $('.sliderwrapper .slider').glide({
                autoplay: 7000,
                        animationDuration: 3000,
                                arrows: true,
                                        });
    </script>
        <script type="text/javascript">
    $('.bestdisheswrapper .slider').glide({
                autoplay: false,
                        animationDuration: 700,
                                arrows: true,
                                        navigation:false,
     });
        </script>
    <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                                            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new
      Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-52746336-1');ga('send','pageview');
      var isCompleted = {};
  function sampleCompleted(sampleName){
          if (ga && !isCompleted.hasOwnProperty(sampleName)) {
                    ga('send', 'event', 'WebCentralSample', sampleName, 'completed'); 
                          isCompleted[sampleName] = true;
                              }
            }
    </script>
    {% endblock bodyscripts %}
</body>
</html>
